In [3]:
import socket
s = socket.socket()
s.connect(('www.google.co.in',80))
s.send(b'GET HTTP 1.0 hello world')

24

In [ ]:
data = s.recv(1024)

In [1]:
import sqlite3 as sql

In [13]:
database = sql.connect('mydata.db')

In [3]:
pwd

'C:\\batch_3_30'

In [14]:
c = database.cursor()

In [15]:
cmd = "CREATE TABLE student(id INT(5) PRIMARY KEY, \
name VARCHAR(50) NOT NULL, ph_no VARCHAR(13) NOT NULL)"
c.execute(cmd)

OperationalError: table student already exists

In [16]:
cmd = "INSERT INTO student(id,name,ph_no)  VALUES (1,'sachin','9782131159'), \
(2,'kushal','9872343254'), (3,'rajat','8923429384')"

In [17]:
c.execute(cmd)

In [18]:
database.commit()
c.close()

In [19]:

database.close()

In [20]:
db = sql.connect('mydata.db')
c = db.cursor()

In [21]:
cmd = "SELECT * FROM student"
c.execute(cmd)
data = c.fetchall()

In [22]:
data

[(1, 'sachin', '9782131159'),
 (2, 'kushal', '9872343254'),
 (3, 'rajat', '8923429384')]