In [1]:
f = open('mydata.db','w')

In [2]:
data = { 'name':'python','version':3.7,'father':'Guido Van Rossum'}

In [3]:
f.write(data)

TypeError: write() argument must be str, not dict

In [5]:
#Serilizers or Deserilizers

#serilizers --> They will convert object to byte-Stream (dump)
#deserilizer -->They will change byestream to object (load)

import json 
#java Script Notation Language 
json.dump(data,f) #serizer
f.name

'mydata.db'

In [6]:
f.close()

In [7]:
with open('mydata.db') as fp : 
    data = fp.read()

In [8]:
print(type(data))

<class 'str'>

In [9]:
print(data)

{"name": "python", "version": 3.7, "father": "Guido Van Rossum"}

In [10]:
with open('mydata.db') as fp : 
    mydata = json.load(fp)

In [11]:
type(mydata)

dict

In [12]:
print(mydata)

{'name': 'python', 'version': 3.7, 'father': 'Guido Van Rossum'}

In [13]:
mydata['name']

'python'

In [14]:
#pickle
import pickle
f = open('new.db','wb')
pickle.dump(mydata,f)
f.close()

In [15]:
with open('new.db','rb') as fp : 
    data = fp.read()
print(type(data))
print(data)

<class 'bytes'>
b'\x80\x03}q\x00(X\x04\x00\x00\x00nameq\x01X\x06\x00\x00\x00pythonq\x02X\x07\x00\x00\x00versionq\x03G@\r\x99\x99\x99\x99\x99\x9aX\x06\x00\x00\x00fatherq\x04X\x10\x00\x00\x00Guido Van Rossumq\x05u.'

In [16]:
with open('new.db','rb') as fp : 
    data = pickle.load(fp)
print(type(data))
print(data)

<class 'dict'>
{'name': 'python', 'version': 3.7, 'father': 'Guido Van Rossum'}

In [17]:
#datetime
import datetime

In [18]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [26]:
import datetime 

datetime.date?

In [27]:
today = datetime.date(2018,12,12)

In [28]:
print(type(today))

<class 'datetime.date'>

In [29]:
print(today)

2018-12-12

In [30]:
print(dir(today))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'ctime', 'day', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'min', 'month', 'replace', 'resolution', 'strftime', 'timetuple', 'today', 'toordinal', 'weekday', 'year']

In [35]:
today.today()

datetime.date(2018, 12, 12)

In [36]:
tm = datetime.date(2018,12,13)
tm.today()

datetime.date(2018, 12, 12)

In [37]:
tm.ctime()

'Thu Dec 13 00:00:00 2018'

In [38]:
today.ctime()

'Wed Dec 12 00:00:00 2018'

In [41]:
today.isocalendar()

(2018, 50, 3)

In [42]:
today.isoweekday()

3

In [43]:
today.isoformat()

'2018-12-12'

In [52]:
n = today.fromisoformat('1996-04-03')

In [53]:
n

datetime.date(1996, 4, 3)

In [67]:
n.fromordinal(2000)

datetime.date(6, 6, 23)

In [64]:
import time
time.time()

1544612391.5330954

In [70]:
n.fromtimestamp(1544612391.5330954)

datetime.date(2018, 12, 12)

In [71]:
n.fromtimestamp(0) #timestamp 1,1,1970

datetime.date(1970, 1, 1)

In [82]:
seconds = (48*365.25*24*60*60)+((11*30)+5)*24*60*60

In [83]:
seconds

1543708800.0

In [84]:
today = n.fromtimestamp(seconds)
print(today)

2018-12-02

In [86]:
today.max

datetime.date(9999, 12, 31)

In [88]:
today.min

datetime.date(1, 1, 1)

In [93]:
x = today.replace(2018,12,12)

In [94]:
today

datetime.date(2018, 12, 2)

In [95]:
x

datetime.date(2018, 12, 12)

In [102]:
today.strftime('%d/%m/%y')

'02/12/18'

In [104]:
today.strftime('%A %B %Y')

'Sunday December 2018'

In [106]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=2, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=336, tm_isdst=-1)

In [107]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [113]:
today = datetime.datetime(2018,12,12,16,40,35)

In [114]:
print(today)

2018-12-12 16:40:35

In [116]:
today.strftime("%H:%M:%S%p  %A %B %Y")

'16:40:35PM  Wednesday December 2018'

In [118]:
today.time()

datetime.time(16, 40, 35)

In [119]:
today.date()

datetime.date(2018, 12, 12)

In [120]:
dir(today)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [121]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'time', 'timedelta', 'timezone', 'tzinfo']

In [127]:
datetime.timedelta()

datetime.timedelta(days=1739273, seconds=1283)

In [128]:
last_week = datetime.datetime(2018,12,6,17,35)
today = datetime.datetime(2018,12,12,16,35)

In [148]:
datetime.timedelta(time.mktime(last_week.timetuple()),time.mktime(today.timetuple()))

OverflowError: days=1544115777; must have magnitude <= 999999999

In [150]:
x = time.mktime(today.timetuple())

1544612700.0

In [156]:
y = time.mktime(last_week.timetuple())

In [159]:
datetime.timedelta(last_week.timetuple(),today.timetuple())

TypeError: unsupported type for timedelta seconds component: time.struct_time